<% title = post.title %>
<% loginFormVisibleIfNotLoggedIn = true; %>
<div class="container" ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <img src="/image/show/<%=post.images[0].id%>" style="width:100%;"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-muted">
                        <%=post.creator.name%> <%= moment(post.createdAt).calendar() %>
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <%if(post.creator.avatarUrl){%>
                    <img class="post-creator-avatar" src="<%=post.creator.avatarUrl%>"/>
                    <%} else {%>
                    <img class="post-creator-avatar" src="/images/user-avatar.png"/>
                    <%}%>
                    <h4>
                        <%=post.creator.name%>
                        <%if(post.creator.description){%>
                        <br/>
                        <small>
                            <%=post.creator.description%>
                        </small>
                        <%}%>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h2>
                    <%=post.title%>
                    <% if (post.content !== undefined) {%>
                    <br/>
                    <small>
                        <%=post.content%>
                    </small>
                    <% } %>
                </h2>
            </div>

            <% var postComments = _.sortBy(post.postComments, 'createdAt').reverse(); %>
            <%if(postComments.length === 0){%>
            <p class="post-nocomment">Pas de commentaires pour cette demande d'aide.</p>
            <%}else{%>
            <% postComments.forEach(function(postComment){ %>
            <% include ../postComment/show %>
            <% }) %>
            <%}%>

            <% var user = req.session.user; %>
            <% if (typeof user !== 'undefined') { %>
            <div class="row" ng-controller="CreatePostCommentController">
                <form id="postComment-form" ng-submit="submitPostCommentForm()" class="form-horizontal">
                    <h4>Ajouter un commentaire</h4>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <textarea id="comment" name="comment" ng-model="postCommentForm.comment" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">
                                <span ng-show="!postCommentForm.creating">Publier un commentaire</span>
                                <span ng-show="postCommentForm.creating" class="fa fa-spinner"></span>
                                <span ng-show="postCommentForm.creating">Publication en cours...</span>
                            </button>
                        </div>
                    </div>
                    <input type="hidden" id="postId" name="postId" value="<%=post.id%>"/>
                </form>
            </div>
            <% } else { %>
            <div class="row"  ng-controller="LoginController" ng-cloak>
                <!-- Login FORM -->
                <form id="login-form" ng-submit="submitLoginForm()" class="form-horizontal">
                    <h2>Pour commenter, veuillez vous logguer.</h2>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-4" ng-class="{'has-error':signin.email.$invalid && signin.email.$dirty}">
                            <input type="email" class="form-control" id="email" name="email"
                                   ng-model="loginForm.email"
                                   placeholder="<%=faker.internet.email()%>" required>
                            <span class="help-block has-error" ng-if="signin.email.$dirty">
                                <span ng-show="signin.email.$error.required">Email address is required.</span>
                                <span ng-show="signin.email.$error.email">Not a valid email address.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="password" name="password"
                                   ng-model="loginForm.password"
                                   placeholder="<%=faker.internet.password()%>">
                            <span class="help-block has-error" ng-if="signin.password.$dirty">
                                <span ng-show="signin.password.$error.required">Password is required.</span>
                                <span ng-show="signin.password.$error.minlength">Password must be at least 6 characters.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button type="submit" class="btn btn-success btn-lg btn-block">
                                <span ng-show="!loginForm.loading">Sign in</span>
                                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                                <span ng-show="loginForm.loading">Signing in...</span>
                            </button>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                </form>
            </div>
            <% } %>
        </div>
        <div class="col-sm-2">
            <div class="c100 p<%= Math.round(positiveVotesCount / totalVotesCount * 100.0) %> center">
                <span><%= Math.round(positiveVotesCount / totalVotesCount * 1000.0) / 10.0 %>%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <% if (typeof user !== 'undefined') { %>
            <div class="row">
                <div class="col-sm-6">
                    <a href="" class="vote-button btn btn-success margin-5">+1</a>
                </div>
                <div class="col-sm-6">
                    <a href="" class="vote-button btn btn-warning margin-5">-1</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
