<%title=post.title%>
<div class="container" ng-controller="PostController" ng-cloak>
    <div class="row">
        <div class="col-md-2">
            <img src="/image/show/<%=post.images[0].id%>"/>
        </div>
        <div class="col-md-8">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <%=post.title%>
                    <br/>
                    <small>
                        <%=post.creator.name%> at <%= moment(post.createdAt).calendar() %>
                    </small>
                </div>
                <div class="panel-content">
                    <%=post.content%>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <img src="<%=post.creator.gravatarUrl%>"/>
        </div>
    </div>
    <% var postComments = _.sortBy(post.postComments, 'createdAt'); %>
    <% postComments.forEach(function(postComment){ %>
    <% include postComment %>
    <% }) %>
</div>
